/* theming */
body {
  --bg-color:##fef09a;
  --title-color:#5d270a;
  --text-color:#060100;
  --decor-color:#fde548;
  --link-color:#bd6e01;
  --link-hl-color:#5d270a;
}

body.dark-theme {
  --bg-color:#060100;
  --title-color:#fde548;
  --text-color:#feeb72;
  --decor-color:#2d0500;
  --link-color:#e2b410;
  --link-hl-color:#bd6e01;
}

@media (prefers-color-scheme:dark) {
  body.light-theme {
    --bg-color:#fef09a;
    --title-color:#5d270a;
    --text-color:#060100;
    --decor-color:#fde548;
    --link-color:#bd6e01;
    --link-hl-color:#5d270a;
  }
  body { 
    --bg-color:#060100;
    --title-color:#fde548;
    --text-color:#feeb72;
    --decor-color:#2d0500;
    --link-color:#e2b410;
    --link-hl-color:#bd6e01;
  }
}

/* root */
html, body {
  width:100%;
  height:100%;
}

body {
  color:var(--text-color);
  background-color:var(--bg-color);
  box-sizing:border-box;
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Liberation Sans","sans-serif";
  padding:1rem;
  margin:0 auto;
  max-width:112.0rem;
  text-align:left;
  font-size:1.4rem;
}

/* media */
img {
  max-width:90%;
  height:auto;
  width:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* headlines */
h1, h2, h3, h4, h5, h6 {
  color:var(--title-color);
  margin-top:0.8em;
  margin-bottom:0.4em;
}

h1 {
  font-size:5rem;
}

h2 {
  font-size:3.6rem;
}

h3 {
  font-size:3rem;
}

h4 {
  font-size:2.6rem;
}

h5 {
  font-size:2.3rem;
}

h6 {
  font-size:2.1rem;
}

/* code */
code {
  padding:0.2em 0.4em;
  margin:0;
  font-size:90%;
  background-color:var(--decor-color);
  border-radius:0.2em;
}

pre > code {
  display:block;
  background-color:var(--decor-color);
  padding:1.2em;
  border-top:0.25em solid var(--title-color);
  border-radius:0.4em;
}

/* other deco */
hr {
  border:2px solid var(--decor-color);
}

blockquote {
  margin:0.4em 0em;
  display:block;
  padding:0.1em 1em;
  background-color:var(--decor-color);
  border-left:0.2em solid var(--title-color);
  border-radius:0.4em;
}

/* links */
a {
  color:var(--link-color);
  text-decoration:none;
  font-weight:500;
}

a.classInVis {
  color:inherit;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  color:var(--link-hl-color);
}

a.source {
  font-weight:400;
  font-size:1rem;
}

/* light-dark theme selector */
.ld-switch {
  position:fixed;
  left:30px;
  bottom:30px;
}

.ld-switch label {
  background-color:var(--text-color);
  border:1px solid var(--title-color);
  border-radius:50%;
  content:"";
  cursor:pointer;
  position:absolute;
  height:24px;
  width:24px;
  left:0;
  top:0;
}

.ld-switch .moon {
  background-color:var(--bg-color);
  border-radius:50%;
  content:"";
  height:13px;
  width:25px;
  top:0px;
  left:9px;
  transform:rotate(45deg);
  position:absolute;
}

.ld-switch input[type="checkbox"] {
  visibility:hidden;
}